gitignore_folder

# Python / user_service
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env/

# Postgres data
infra/pgdata/

*.log
docker-compose.override.yml

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
scr.py
project.txt
