<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/styles/registration.css">
</head>
<body>
    <h1>Registration Page</h1><br>
    <form action="#" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" required><br><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="birth_date">Birthday:</label>
        <input type="date" id="birth_date" name="birth_date" required><br><br>
        
        <button type="submit">Register</button>
    </form><br>
    <p>Already have an account? <a href="/login_page">Login here</a>.</p>
    <div></div>
    <script src="/js/registration.js"></script>
</body>
</html>